.font {
  font-family: "Bubblegum Sans";
}

.color {
  filter: brightness(80%);
  box-shadow: rgb(59, 59, 59) 0px 0px 15px 8px;
}
.size {
  font-size: 24px;
}

.move-right {
  margin-right: 300px;
  margin-top: -4px;
}

#center {
  margin-top: 8.5px;
  margin-left: 10px;
}
