.font {
  font-family: "Bubblegum Sans"; // changes font
}

.color {
  filter: brightness(80%);
  box-shadow: rgb(59, 59, 59) 0px 0px 15px 8px; // navbar background!
}
.size {
  font-size: 24px;
}

#basic-navbar-nav.justify { // for navbar scrollY function
  display: flex;
  justify-content: end;
}

#center {
  margin-top: 8.5px;
  margin-left: 10px;
}

.nav.hidden { // for navbar scrollY function
  display: none;
}

#log.move {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 990px) {
  #log { // for navbar scrollY function
    margin-top: 10px;
    // this will push the logos down through toggle button viewpoint
  }
 
}
